*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@font-face {
  font-family: [Hanken Grotesk];
  src: url(https://fonts.google.com/specimen/Hanken+Grotesk);
}

.principal {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: center;
  /* position: absolute; */
  width: 100vw;
  height: 100vh;
  font-family: Hanken Grotesk, sans-serif;

}


.title__principal{
  color: hsl(241, 100%, 89%);
  margin-top: 40px;

}

.section__one {
    
  
    align-items: center;
    background-image: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 30px;
    display: flex;
    gap: 30px ;
    flex-direction: column;
    height: 500px;
    margin: 40px 0 0 0;
    width: 350px;
}

.circle {
  
  position: initial;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(to bottom,
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
  width: 200px;
  height: 200px;
  text-align: center;
  border-radius: 50%;
   
  
}

.section__text{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  color: white;
  text-align: center;
 
}

.text{ 
  color:  hsl(241, 100%, 89%);
  padding: 0 60px 0 60px;


}

.numero__maior{
  color: white;
  font-size: 70px;
  font-weight: 700;

}

.numero__menor{
  color: hsl(241, 100%, 89%);
}

.sumary{
  border: 0.1px solid;
  border-radius: 0 30px 30px 0;
  margin: 40px 0 0 0;
  width: 350px;
  height: 500px;

}


.sumary__results{
  display: flex;
  justify-content: space-between;
}

.reaction{
  color: hsl(0, 100%, 67%);
}