* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}

@font-face {
  font-family: [Hanken Grotesk];
  src: url(https://fonts.google.com/specimen/Hanken+Grotesk);
}

.principal {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  font-family: Hanken Grotesk, sans-serif;
}

.title__principal {
  font-size: 2rem;
  color: hsl(241, 100%, 89%);
  margin-top: 11%;
}

.section__one {
  align-items: center;
  background-image: linear-gradient(
    to bottom,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
  border-radius: 3rem;
  display: flex;
  gap: 3rem;
  flex-direction: column;
  margin: 4rem 0 0 0;
  width: 36.5rem;
  height: 47.6rem;
}

.circle {
  position: initial;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(
    to bottom,
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
  width: 50%;
  height: 35%;
  text-align: center;
  border-radius: 50%;
}

.section__text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  color: white;
  text-align: center;
}

.text {
  color: hsl(241, 100%, 89%);
  padding: 0 6rem 0 6rem;
  font-size: 1.8rem;
}

.numero__maior {
  color: white;
  font-size: 7rem;
  font-weight: 700;
}

.numero__menor {
  color: hsla(241, 100%, 89%, 0.6);
  font-size: 1.6rem;
}

h2 {
  font-size: 2.7rem;
}

.sumary {
  display: flex;
  flex-direction: column;
  gap: 37px;
  /* border: 0.1px solid; */
  border-left: none;
  border-radius: 0 3rem 3rem 0;
  margin: 40px 0 0 0;
  width: 35.9rem;
  height: 47.6rem;
  padding: 0 3.5rem;
  box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

.title__secondary {
  font-size: 2rem;
  color: hsla(224, 30%, 27%, 0.9);
  margin-top: 14%;
}

ul {
  display: flex;
  font-size: 1.8rem;
  flex-direction: column;
  list-style: none;
  gap: 1.5rem;
}

.botao {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(
    to bottom,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
  color: white;
  border: none;
  border-radius: 5rem;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1.6rem;
  text-decoration: none;
}

.botao:active {
  background-image: linear-gradient(
    to bottom,
    hsl(224, 30%, 27%),
    hsl(224, 30%, 27%)
  );
}

.classe1 {
  color: hsl(0, 100%, 67%);
  background-color: hsla(0, 100%, 67%, 0.1);
  padding: 1.2rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}

.classe2 {
  color: hsl(39, 100%, 56%);
  background-color: hsla(39, 100%, 56%, 0.1);
  padding: 1.2rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}

.classe3 {
  color: hsl(166, 100%, 37%);
  background-color: hsla(166, 100%, 37%, 0.1);
  padding: 1.2rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}

.classe4 {
  color: hsl(234, 85%, 45%);
  background-color: hsla(234, 85%, 45%, 0.1);
  padding: 1.2rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}

.section {
  display: flex;
  gap: 1.3rem;
}

.resultado {
  gap: 0.8rem;
  display: flex;
  justify-content: flex-start;
}

.cor-1 {
  color: hsl(224, 30%, 27%);
  font-weight: 600;
}

.cor-2 {
  color: hsla(224, 30%, 27%, 0.5);
  font-weight: 600;
}

@media screen and (max-width: 375px) {
  .principal {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  
}
@media screen and (max-width: 768px) {
  .principal {
    flex-direction: column;
    
    
  }

  .section__one{
   
    height: 70rem;
    width: 37.5rem;
    gap: 20px;
    padding-bottom: 5rem;
    border-top: none;
  }

  .title__principal {
    font-size: 2rem;
    color: hsl(241, 100%, 89%);
    margin-top: 90%;
  }

  .circle {
  
    width: 130px;
    height: 130px;
    
  }

  .text{
    font-size: 1.6rem;
  }
  .numero__maior{
    font-size: 6rem;
  }

  .sumary{
  box-shadow: none;
  padding-bottom: 15rem;
  margin: 2rem;
  padding-left: 0.5rem;
  padding-right: 2.5;
  }

  .title__secondary{
    margin: 0;
  }

}
